<div>
    <h2 id="page-heading">
        <span>Escolaridads</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-escolaridad" [routerLink]="['/escolaridad/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create a new Escolaridad
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="escolaridads?.length === 0">
        <span>No escolaridads found</span>
    </div>
    <div class="table-responsive" *ngIf="escolaridads?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nombre</span></th>
            <th><span>Descripcion</span></th>
            <th><span>Periodo</span></th>
            <th><span>Concluyo</span></th>
            <th><span>Clavedoc</span></th>
            <th><span>Documento</span></th>
            <th><span>Persona</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let escolaridad of escolaridads ;trackBy: trackId">
                <td><a [routerLink]="['/escolaridad', escolaridad.id, 'view' ]">{{escolaridad.id}}</a></td>
                <td>{{escolaridad.nombre}}</td>
                <td>{{escolaridad.descripcion}}</td>
                <td>{{escolaridad.periodo}}</td>
                <td>{{escolaridad.concluyo}}</td>
                <td>{{escolaridad.clavedoc}}</td>
                <td>{{escolaridad.documento}}</td>
                <td>
                    <div *ngIf="escolaridad.persona">
                        <a [routerLink]="['/persona', escolaridad.persona?.id, 'view' ]" >{{escolaridad.persona?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/escolaridad', escolaridad.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/escolaridad', escolaridad.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/escolaridad', { outlets: { popup: escolaridad.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
