<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="motivomov">
            <h2><span>Motivomov</span> {{motivomov.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Clave</span></dt>
                <dd>
                    <span>{{motivomov.clave}}</span>
                </dd>
                <dt><span>Descripcion</span></dt>
                <dd>
                    <span>{{motivomov.descripcion}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/motivomov', motivomov.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
